<h2 ng-if="user">{{user.username}}'s saved restaurants</h2>

<ul class="list-group">
  <div ng-init="vm.getPlaces(user.id)">
      <div ng-repeat="item in places">
        <a ui-sref="place({id: item.id})" class="list-group-item list-group-item-action">
        <h3>{{ item.name }}</h3>
        <img ng-src="{{ item.image }}" >
<!--         <a ui-sref="place({id: item.id})">Place show page</a> -->
<!--         <h4> <a ng-href="{{ item.menu }}"> {{ item.menu }} </a></h4> -->
        <h4>{{ item.address }}</h4>
        <h4>{{ item.description }}</h4>
        </a>
      </div>
  </div>
</ul>






<!-- 
<div ui-view></div> -->