collection.html


<button type="button" class="btn btn-default btn-sm" ng-click="vm.getCollections()">Retrieve collections</button>

<!-- <div ng-repeat="item in collections">
  <h4>{{ item.name }}</h4>
</div> -->

<div ng-init="vm.getPlaces()">

  <div ng-repeat="item in places">

    <h4>{{ item.name }}</h4>
    <img ng-src="{{ item.image }}" >
    <h4> <a ng-href="{{ item.menu }}"> {{ item.menu }} </a></h4>
    <h4>{{ item.address }}</h4>
    <h4>{{ item.description }}</h4>
    <button type="button" ng-click="vm.getMenu(item.venue_id)">View Menu</button>

  <div ng-repeat="menu in menus">
    <h4> Menu category: {{ menu.name }}</h4>
      <div ng-repeat="menuItem in menu.entries.items">
        <h5> {{ menuItem.name }}</h5>
        <h6> {{ menuItem.description }}</h6>
      </div>
  </div>

  </div>
</div>