<h1>place.html</h1>
<h3> {{ place.name }} </h3>


    <h4>{{ place.name }}</h4>
    <img ng-src="{{ place.image }}" >
    <h4> <a ng-href="{{ place.menu }}" target="_blank"> {{ place.menu }} </a></h4>
    <h4>{{ place.address }}</h4>
    <h4>{{ place.description }}</h4>
    <button type="button" ng-click="vm.getMenu(place.venue_id)">View Menu</button>

  <div ng-repeat="menu in menus">
    <h4> Menu category: {{ menu.name }}</h4>
      <div ng-repeat="menuItem in menu.entries.items">
        <h5> {{ menuItem.name }}</h5>
        <h6> {{ menuItem.description }}</h6>
      </div>
  </div>

<br>

<form name="recForm" novalidate ng-submit="recForm.$valid && vm.saveRec(place.id)">
  <input type="text" name="rec" ng-model="rec" placeholder="Enter a menu item" ng-minlength="3" required/>
  <span style="color:Red" ng-show="recForm.rec.$error.minlength"> Must be at least 3 characters! </span>
  <button type="submit"> Recommend </button>
</form>

<form name="reviewForm" novalidate ng-submit="reviewForm.$valid && vm.saveReview(place.id)">
  <input type="text" name="review" ng-model="review" placeholder="Enter a review" ng-minlength="3" required/>
  <span style="color:Red" ng-show="reviewForm.review.$error.minlength"> Must be at least 3 characters! </span>
  <button type="submit"> Submit </button>
</form>
  


<div ng-repeat="item in menuItems">
    <h6>Rec: {{ item.dish }} </h6>
</div>

<div ng-repeat="review in reviews">
    <h6>Review: {{ review.content }} </h6>
</div>

