<h3> {{ place.name }} </h3>
<img ng-src="{{ place.image }}" >
<h4 ng-if=place.url> <a ng-href="{{ place.url }}" target="_blank"> Website </a></h4>
<h4 ng-if=place.menu> <a ng-href="{{ place.menu }}" target="_blank"> Menu </a></h4>
<h4>{{ place.address }}</h4>
<h4>{{ place.description }}</h4>

<br>

<form name="recForm" novalidate ng-submit="recForm.$valid && vm.saveRec(place.id, user.id)">
  <input type="text" name="rec" ng-model="rec" placeholder="Enter a menu item" ng-minlength="3" required/>
  <span style="color:Red" ng-show="recForm.rec.$error.minlength"> Must be at least 3 characters! </span>
  <button type="submit"> Recommend </button>
</form>

<form name="reviewForm" novalidate ng-submit="reviewForm.$valid && vm.saveReview(place.id, user.id)">
  <input type="text" name="review" ng-model="review" placeholder="Enter a review" ng-minlength="3" required/>
  <span style="color:Red" ng-show="reviewForm.review.$error.minlength"> Must be at least 3 characters! </span>
  <button type="submit"> Submit </button>
</form>
  
<div ng-repeat="item in menuItems">
  <h6> {{ item.user.username }} recommends: {{ item.dish }}</h6>
</div>

<div ng-repeat="review in reviews">
  <h6> {{ review.user.username }} says: {{ review.content }} </h6>
</div>