<!-- <div ng-repeat="place in places">
  <h4>{{ place.name }}</h4>
  <img ng-src="{{ place.image }}" >
  <a ui-sref="place({id: place.id})">Place show page</a>
  <h4> <a ng-href="{{ place.menu }}"> {{ place.menu }} </a></h4>
  <h4>{{ place.address }}</h4>
  <h4>{{ place.description }}</h4>
</div>






 -->

  <input ng-model="vm.search" placeholder="Enter a city to filter restaurants" ng-change="vm.refilter()"/>
  <ul>
    <li ng-repeat="place in vm.filteredList track by place.address">
      <h4>{{ place.name }}</h4>
      <img ng-src="{{ place.image }}" >
      <a ui-sref="place({id: place.id})">Place show page</a>
      <h4> <a ng-href="{{ place.menu }}"> {{ place.menu }} </a></h4>
      <h4>{{ place.address }}</h4>
      <h4>{{ place.description }}</h4>
    </li>
   </ul>
