<h1>search.html</h1>

 <!--  <form ng-submit="vm.venueSearch(vm.city)" remote="true" id="search-form">
    <input type="text" placeholder="Enter your city" ng-model="vm.city" />
  </form> -->

  <form ng-submit="vm.placeSearch(vm.city)" remote="true" id="search-form">
    <input type="text" placeholder="Enter city/state" ng-model="vm.city" />
  </form>

<div ng-repeat="venue in searchResults">
  <h4>{{ venue.name }}</h4>
  <h6> {{ venue.location.lat }} </h6>
  <h6> {{ venue.location.lng }} </h6>
</div>

<div ng-repeat="item in veganResults">

  <h4>{{ item.venue.name }}</h4>
  <img ng-src="{{ item.venue.photos.groups[0].items[0].prefix}}128{{item.venue.photos.groups[0].items[0].suffix }}" >
  <h6><a ng-href="{{ item.venue.menu.url }}"> {{ item.venue.menu.url }} </a></h6>
  <h6> {{ item.venue.location.formattedAddress }} </h6>
  <h6> {{ item.tips[0].text }} </h6>
  <button type="button" class="btn btn-default btn-sm" ng-click="vm.saveToCollection(item)">Save to collection</button>
</div>



<h3> Below the collection info:</h3>

<button type="button" class="btn btn-default btn-sm" ng-click="vm.getCollections()">Retrieve collections</button>

<div ng-repeat="item in collections">
  <h4>{{ item.name }}</h4>
</div>
