<h1>Find restaurants</h1>

  <form ng-submit="vm.placeSearch(vm.city)" remote="true" id="search-form">
    <input type="text" googleplace placeholder="Enter city, state" ng-model="vm.city" />
  </form>

<div ng-repeat="item in veganResults">

  <h4>{{ item.venue.name }}</h4>
  <img ng-src="{{ item.venue.photos.groups[0].items[0].prefix}}128{{item.venue.photos.groups[0].items[0].suffix }}" >
<!--   <h6 ng-if="item.venue.url"><a ng-href="{{ item.venue.url }}" target="_blank"> Website</a></h6> -->
  <!-- <h6 ng-if="item.venue.menu.url"><a ng-href="{{ item.venue.menu.url }}" target="_blank"> Menu </a></h6> -->
  <h6> {{ item.venue.location.address }} </h6>
  <h6> {{ item.tips[0].text }} </h6>
  <button type="button" class="btn btn-default btn-sm" ng-click="vm.saveToCollection(item, user.id)">Save to collection</button>
  <h6> <a ng-href= "#/search/details/{{item.venue.id}}"> More information</a></h6>
</div>

<h4> BELOW IS THE UI-VIEW </h4>

<div ui-view>
  
</div>
