<h1>search.html</h1>

  <form ng-submit="vm.venueSearch(vm.city)" remote="true" id="search-form">
    <input type="text" placeholder="Enter your city" ng-model="vm.city" />
  </form>

  <form ng-submit="vm.mallSearch(vm.ll)" remote="true" id="search-form">
    <input type="text" placeholder="Enter lat/lng" ng-model="vm.ll" />
  </form>

<div ng-repeat="venue in searchResults">
  <h4>{{ venue.name }}</h4>
  <h6> {{ venue.location.lat }} </h6>
  <h6> {{ venue.location.lng }} </h6>
</div>

<div ng-repeat="item in veganResults">
  <h4>{{ item.venue.name }}</h4>
  <h6> {{ item.venue.menu.url }} </h6>
  <h6> {{ item.venue.location.address }} </h6>
  <h6> {{ item.tips[0].text }} </h6>
</div>