<!DOCTYPE html>
<html>
  <head>
    <title>Vegfinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  </head>

  <body ng-app="vegfinder">
    <nav-bar></nav-bar>
    <ui-view></ui-view>
  </body>
</html>
