<!DOCTYPE html>
<html>
  <head>
    <title>Vegfinder</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  </head>

  <body ng-app="vegfinder">
    <div class="container-fluid">
      <nav-bar></nav-bar>
      <ui-view></ui-view>
    </div>
  </body>
</html>
